<footer class="site-footer">
    <p class="text">
        <i class="fa fa-edit"></i> <a href="{{ site.github.repository_url }}/blob/main/{{ page.path }}">Edit page on GitHub</a>
    </p>
    <p class="text">
        {{ site.footer_text | default: "Powered by <a href='https://jekyllrb.com/'>Jekyll</a> with <a href='https://github.com/sylhare/Type-on-Strap'>Type on Strap</a>" }}
    </p>

    <div class="footer-icons">
        <ul>
        <!-- Social icons from Font Awesome, if enabled -->
        {% include social/icons.liquid %}
        </ul>
    </div>

    <div class="footer-links">
        <ul>
            {% assign pages = site.pages | sort: 'position' %}
            {% for page in pages %}
            {% if page.show-in-footer %}
            <li>
                <a class="clear" aria-label="{{ page.title }}" title="{{ page.title }}" href="{{ page.url | relative_url }}">
                    {{ page.title }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

</footer>


