{% assign sponsors = include.sponsors | split: "," %}

<div class="call-out call-out_img"  style="padding: 0px;">
  <center><h2>Sponsoren</h2></center>
  <div class="sponsors-banner">
    <div class="scroll">
    {% for key in sponsors %}
      {% assign sponsore = site.data.sponsors[key] %}
      {% if sponsore %}
      <div class="item">
        <a href="{{ sponsore.url }}" class="sponsor" target="_blank" rel="noopener">
          {% if sponsore.logo contains "<svg" %}
            <span class="sponsor-logo">{{ sponsore.logo }}</span>
          {% else %}
            <img src="{{ sponsore.logo }}" alt="{{ sponsore.name }} logo" class="sponsor-logo">
          {% endif %}
          <span class="sponsor-name">{{ sponsore.name }}</span>
        </a>
        </div>
      {% endif %}
    {% endfor %}
    </div>
    <div class="scroll" id="scroll-two">
    {% for key in sponsors %}
      {% assign sponsore = site.data.sponsors[key] %}
      {% if sponsore %}
      <div class="item">
        <a href="{{ sponsore.url }}" class="sponsor" target="_blank" rel="noopener">
          {% if sponsore.logo contains "<svg" %}
            <span class="sponsor-logo">{{ sponsore.logo }}</span>
          {% else %}
            <img src="{{ sponsore.logo }}" alt="{{ sponsore.name }} logo" class="sponsor-logo">
          {% endif %}
          <span class="sponsor-name">{{ sponsore.name }}</span>
        </a>
        </div>
      {% endif %}
    {% endfor %}
    </div>
    <div class="scroll" id="scroll-three">
    {% for key in sponsors %}
      {% assign sponsore = site.data.sponsors[key] %}
      {% if sponsore %}
      <div class="item">
        <a href="{{ sponsore.url }}" class="sponsor" target="_blank" rel="noopener">
          {% if sponsore.logo contains "<svg" %}
            <span class="sponsor-logo">{{ sponsore.logo }}</span>
          {% else %}
            <img src="{{ sponsore.logo }}" alt="{{ sponsore.name }} logo" class="sponsor-logo">
          {% endif %}
          <span class="sponsor-name">{{ sponsore.name }}</span>
        </a>
        </div>
      {% endif %}
    {% endfor %}
    </div>
        <div class="scroll" id="scroll-four">
    {% for key in sponsors %}
      {% assign sponsore = site.data.sponsors[key] %}
      {% if sponsore %}
      <div class="item">
        <a href="{{ sponsore.url }}" class="sponsor" target="_blank" rel="noopener">
          {% if sponsore.logo contains "<svg" %}
            <span class="sponsor-logo">{{ sponsore.logo }}</span>
          {% else %}
            <img src="{{ sponsore.logo }}" alt="{{ sponsore.name }} logo" class="sponsor-logo">
          {% endif %}
          <span class="sponsor-name">{{ sponsore.name }}</span>
        </a>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>