{% assign event = include.event %}
<div class="post-teaser">
  {% if event.image | relative_url %}
    <a aria-label="{{ event.title }}" href="{{ event.url | relative_url }}">
      <div class="post-img" style="background-image: url({{ event.image | relative_url }});"></div>
    </a>
  {% endif %}
  <div class="post-text{% if event.image | relative_url %}-with-thumbnail{% endif  %}">
    <header>
      <h1>
        <a
          aria-label="{{ event.title }}"
          class="post-link"
          href="{{ event.url | relative_url }}">
          {{ event.title }}
        </a>
      </h1>
      {% include blog/post_info.liquid author=event.author date=event.event.start rrule=event.event.rrule %}
    </header>
    {%- if site.excerpt or site.theme_settings.excerpt %}
      <div class="excerpt">
        {%- if site.excerpt == "truncate" -%}
          {{ event.content | strip_html | truncate: '250' | escape }}
        {%- else -%}
          {{ event.excerpt | strip_html | escape }}
        {%- endif -%}
      </div>
    {%- endif %}
  </div>
</div>