<div class="posts">
    {% unless paginator.posts %}
    <article>
        <section class="post-content">
            <p>There are no blog posts</p>
        </section>
    </article>
    {% endunless %}
    {% for post in paginator.posts %}
    {% assign remainder = forloop.index0 | modulo: 2 %}
    {% if remainder == 0 %}
    <a>even</a>
    {% else %}
    <a>odd</a>
    {% endif %}
    <div class="post-teaser">
        {% if post.thumbnail %}
        <div class="post-img" style="background-image: url({{ post.thumbnail | relative_url }});">
            <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
            </a>
        </div>
        {% endif %}

        <div class="post-text">
            <header>
                {% include blog/post_info.liquid author=post.author date=post.date %}
                <h2>
                    <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title }}
                    </a>
                </h2>
            </header>

            {% if site.excerpt or site.theme_settings.excerpt %}
            <div class="excerpt">
                {% if site.excerpt == "truncate" %}
                {{ post.content | strip_html | truncate: '250' | escape }}
                {% else %}
                {{ post.excerpt | strip_html | escape }}
                {% endif %}
            </div>
            {% endif %}

            <div class="more-link-wrapper">
                <h5>
                    <a aria-label="more-link">
                        － Beitrag lesen －
                    </a>
                </h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% include blog/blog_nav.liquid %}