---
layout: default
---
<article {% if page.feature-img or page.color %}class="feature-image" {% endif %}>
  <header id="main" style="">
    <div class="title-padder">
      {% if page.hide_title %}
        <div class="feature-image-padding"></div>
      {% else %}
        <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h1>
        {% assign start_date = page.event.start | default: page.event_date %}
        {% include blog/post_info.liquid author=page.author date=start_date rrule=page.event.rrule %}
      {% endif %}
    </div>
  </header>

  <section class="post-content">
  {% if page.bootstrap %}
    <div class="bootstrap-iso">
    {% endif %}
      {% if page.event.start %}
      <p>
        <strong>Wann: {% if page.event.rrule %}{% include blog/rrule.liquid rrule=page.event.rrule %}{% endif %}{{ page.event.start | date: "%H:%M" }}{% if page.event.end %} - {{ page.event.end | date: "%H:%M" }}{% endif %} Uhr</strong><br />
        <strong>Wo: {{ page.event.location | default: "Netz39 e.V." }}</strong>
      </p>
      {% endif %}
      {{ content }}
    {% if page.bootstrap %}
    </div>
  {% endif %}
  </section>

  <!-- Social media shares -->
  {% if site.share_buttons %}
  {% include social/share_buttons.liquid %}
  {% endif %}

   <!-- Tag list -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include default/tags_list.liquid tags=tag_list %}

</article>

{% include blog/post_footer.liquid color=page.color img=page.feature-img isEvent='True' %}
