---
layout: default
---
<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
    </style>
    <div id="main" class="call-out call-out_img" style="padding: 2% 9%;">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>
	<article>
		<div class="post-content">
		    <center><h2>Verein</h2></center>
		    <p>Netz39 ist der Hotspot für den Austausch von Technologie, Gesellschaft und Kultur im Bereich der informationsverarbeitenden Technologien. Wir bieten nicht nur Räumlichkeiten und Werkzeuge, sondern auch eine inspirierende Community in Magdeburg und Umgebung.</p>
		    <p>Bei uns ist alles möglich! Ob du an technischen oder künstlerischen Projekten arbeiten möchtest oder einfach nur dein Wissen erweitern willst – Netz39 ist der ideale Ort dafür. Wir unterstützen unsere Mitglieder und alle Interessierten dabei, ihre individuellen Ideen umzusetzen. Gleichzeitig bieten wir ein breites Spektrum an Weiterbildungsmöglichkeiten zu unseren Themen.</p>
		    <p>Also worauf wartest du? Starte jetzt dein Abenteuer bei Netz39!</p>
		</div>
	</article>

    <div class="blog-links">
        <center><h2>Neuste Blogeinträge:</h2></center>
        {% capture _blog %}{% include blog/small_blog.liquid %}{% endcapture %}
    {{ _blog | split: " " | join: " "}}
    </div>

    <div style="margin-bottom: 50px">
    {% include default/sponsors_banner.liquid sponsors="abaxor,pcbway,swm" %}
    </div>

</div>
