---
layout: default
---
{% assign current_lang = page.lang | default: site.lang | default: site.default_lang | default: 'en' %}
{% assign i18n_home = site.data.i18n[current_lang].home %}
{% assign i18n_blog = site.data.i18n[current_lang].blog %}
{% assign header_text = page.header_text | default: site.data.i18n[current_lang].header_text | default: site.header_text %}
<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
    </style>
    <div id="main" class="call-out call-out_img" style="padding: 2% 9%;">
        <h1> {{ header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>
        <article>
                <div class="post-content">
                    <center><h2>{{ i18n_home.intro_heading }}</h2></center>
                    {% for paragraph in i18n_home.paragraphs %}
                    <p>{{ paragraph }}</p>
                    {% endfor %}
                </div>
        </article>

    <div class="blog-links">
        <center><h2>{{ i18n_blog.latest_posts_heading }}</h2></center>
        {% capture _blog %}{% include blog/small_blog.liquid %}{% endcapture %}
    {{ _blog | split: " " | join: " "}}
    </div>

    <div style="margin-bottom: 50px">
    {% include default/sponsors_banner.liquid sponsors="abaxor,pcbway,swm" %}
    </div>

</div>
